/* 768px 미만 일 때 스타일 */
body {
    margin: 0;
}
div {
    width: 100%;
}
.d1 {
    height: 50px;
    background-color: royalblue;
}
.d2 {
    height: 350px;
    background-color: lightblue;
}
.d3 {
    height: 320px;
    background-color: mistyrose;
}
.d4 {
    height: 400px;
    background-color: teal;
}
.d5 {
    height: 200px;
    background-color: thistle;
}
.d6 {
    height: 200px;
    background-color: bisque;
}
#footer {
    height: 100px;
    clear: both;
    background-color: fuchsia;

}
@media screen and (min-width: 768px) {
    /* 768px ~ 1024px 일 때 스타일 */
    body {
        margin: 0;
    }
    div {
        width: 100%;
    }
    .d1 {
        height: 50px;
        background-color: royalblue;
    }
    .d2 {
        height: 550px;
        background-color: lightblue;
    }
    .d3 {
        height: 250px;
        background-color: mistyrose;
    }
    .d4 {
        float: left;
        width: 50%;
        height: 400px;
        background-color: teal;
    }
    .d5 {
        float: right;
        width: 50%;
        height: 200px;
        background-color: thistle;
    }
    .d6 {
        float: right;
        width: 50%;
        height: 200px;
        background-color: bisque;
    }
    #footer {
        height: 100px;
        clear: both;
        background-color: fuchsia;
    
    }
}
@media screen and (min-width: 1024px) {
    /* 1024px 이상일 때 스타일 */
    body {
        margin: 0;
    }
    div {
        width: 100%;
    }
    .d1 {
        height: 50px;
        background-color: royalblue;
    }
    .d2 {
        float: left;
        width: 50%;
        height: 800px;
        background-color: lightblue;
    }
    .d3 {
        float: right;
        width: 50%;
        height: 400px;
        background-color: mistyrose;
    }
    .d4 {
        float: left;
        width: 25%;
        height: 400px;
        background-color: teal;
    }
    .d5 {
        float: right;
        width: 25%;
        height: 200px;
        background-color: thistle;
    }
    .d6 {
        float: right;
        width: 25%;
        height: 200px;
        background-color: bisque;
    }
    #footer {
        height: 100px;
        clear: both;
        background-color: fuchsia;
    
    }
}